<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Account Recovery - Amrit Method(tm) Yoga Nidra</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Account Recovery</h1>
            <div id="login-links">
                <a href="/">Back to Login</a>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/account_recovery.js') }}"></script>
    </body>
</html>

<b>1. Om</b>
<br>
<b>Option One:</b>
<ul>
<li>Close your eyes and allow your attention to turn inward.</li>
<li>Bring your attention to the breath.</li>
<li>Feel the body beginning to relax with each progressive exhalation.</li>
<li>Let's take a deep breath in together and chang the sound of Om.</li>
<li>(Om)</li>
<li>Allow the vibrational impact of the sound to bring outwardly focused attention inward.</li>
</ul>
<br>
<b>Option Two:</b>
<ul>
<li>Close your eyes and allow your attention to turn inward.</li>
<li>Bring your attention to the breath.</li>
<li>Feel the body beginning to relax with each progressive exhalation.</li>
<li>We will chang a continuous Om together.</li>
<li>As you chant, let the sound come from deep in your belly. When you run out of breath, take another full breath in and begin again. We will repeat three times.</li>
<li>Let's begin.</li>
<li>Take a full breath in (Om).</li>
<li>Come to silence.</li>
<li>Sense sound dissolving into silenceMerge into that silent space.</li>
</ul>