<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login - Amrit Method(tm) Yoga Nidra</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    </head>
    <style>
        .watermark {
            display: block;
            position: relative;
        }
        .watermark::after {
            content: "";
            background: url("../static/images/aum-sm-transparent.png") bottom right no-repeat, linear-gradient(orange, #e66465, #9198e5);
            opacity: 0.30;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
    <body>
        <div class="container vh-100 border border-dark m-5 watermark">
                <!--[if lt IE 7]>
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
                <div class="row text-center">
                    <div class="col">
                        <h1>Amrit Method &trade;</h1>
                        <h3>Yoga Nidra Guided Meditation</h3>
                        <h3>Facilitator Script Manager</h3>
                    </div>
                </div>
                <div id="login-box" class="border border-dark p-3 w-50 bg-light">
                    <div id="login-form">
                        <form id="userLoginForm" method = "POST">
                            <div class="login_error" id="login_error_invalid_credentials"></div>
                            <div class="input-group mb-3">
                                <span class="input-group-text w-25" id="basic-addon1">Username</span>
                                <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username">
                            </div>
                            <div class="login_error" id="login_error_username"></div>
                            <div class="input-group mb-3">
                                <span class="input-group-text w-25" id="basic-addon1">Password</span>
                                <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password">
                            </div>
                            <div class="login_error" id="login_error_password"></div>
                            <button class="btn btn-outline-success mb-3" type="submit">Login</button>
                        </form>
                    </div>
                    <div id="login-links">
                        <a href="/recover">I forgot my Username or Password</a> | <a href="/register">Sign Up</a>
                    </div>
                </div>
            </div>
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    </body>
</html>